h1{
    text-align: center;
}
.botão{
    display: flex;
    justify-content: flex-end;

}
nav ul li {
    display: inline;
    margin-left: 400px;
    
}


form label{
    display: block;
    align-content: center;
}
body{